* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.section{
  width: 300px;
  background-color: #EEEEEE;
  padding:10px; 
  position: relative; 
  margin-right: 30px;
}

.section:last-child{
  margin-right: 0;
}

.section-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.section-img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.section-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.section-title{
  margin:15px 0 5px;
}

span{
  background-color: #FF9A4B;
  color: white;
  position: absolute; /*stepの位置の調整*/
  top: 0;
  left: 0;
}


footer{
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  header{
    width: 100%; /*レスポンシブの幅に合わせる*/
  }

  main{
    width: 100%;　/*レスポンシブの幅に合わせる*/
    display: block; /*ブロック要素にして縦並びにする*/
  }

  .section{
    width: 90%; /*横幅90%*/
    margin: 0 auto; /*中央に配置する*/
  }

  .section:first-child,
  .section:nth-last-child(2){
    margin-bottom: 20px; /*Step1,2のsectionクラスにのみ下側に20px*/
  }

  .section:last-child{
    margin-right: auto; /*margin-right:0;の打ち消し*/
  }

}

